*{ /*reset css*/
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --cor-bg: tomato;
}
body{
    height: 100vh; /*pega o tamanho total da tela*/
    display: flex;
    justify-content:center ; /*alinhas na horizontal*/
    align-items: center; /*alinha na vertical*/
    flex-direction: column; /*muda a direção do display flex para coluna*/
    gap: 12px; /*espaço entre as coisas*/
}
#titulo-explicativo{
    font-size: 60px;
}
.cor{
    background-color: var(--cor-bg);
}